.nav {
  position: absolute;
  top: 5vh;
  left: 30vh;
  position: fixed;
  background-color: #2980b9;
  padding: 20px;
  margin: 10px;
  width: 50%;
  z-index: 1;
  font-size: 18px;
}
a {
  text-decoration: none;
  margin: 10px;
  color: #fff;
}
a:hover {
  color: #ff7200;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Georgia, serif;
  background: url(finance.jpg) top center no-repeat #c4c4c4;
  color: #3a3a3a;
}
.flexbox {
  position: absolute;
  top: 25vh;
  left: 35vh;
  width: 600px;
  height: 420px;
  display: -webkit-box;
  display: box;
  -webkit-box-orient: horizontal;
  box-orient: horizontal;
}
.flexbox > div {
  -webkit-transition: 1s ease-out;
  transition: 1s ease-out;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 2px solid black;
  width: 150px;
  margin: 10px -10px 10px 0px;
  padding: 20px 20px 20px 20px;
  box-shadow: 10px 10px 10px dimgrey;
}
.flexbox > div:nth-child(1) {
  background-color: lightgrey;
}
.flexbox > div:nth-child(2) {
  background-color: lightgrey;
}
.flexbox > div:nth-child(3) {
  background-color: lightgrey;
}
.flexbox > div:nth-child(4) {
  background-color: lightgrey;
}

.flexbox > div:hover {
  width: 250px;
  color: white;
  font-weight: bold;
}
.flexbox > div:nth-child(1):hover {
  background-color: royalblue;
}
.flexbox > div:nth-child(2):hover {
  background-color: rgb(20, 157, 220);
}
.flexbox > div:nth-child(3):hover {
  background-color: rgb(20, 117, 220);
}
.flexbox > div:nth-child(4):hover {
  background-color: rgb(73, 100, 0);
}
p {
  height: 250px;
  overflow: hidden;
  font-family: "Rosario";
}